# Virtual Environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Environment Variables
.env
.env.local

# IDE
.idea/
.vscode/
*.swp

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/
*.db
*.sqlite3

# Database
*.sqlite3
*.db
