# Python / Django
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.sqlite3
!backend/db.sqlite3
.env

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local
.npm

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
